.item {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
}

.item__text {
    font-size: 18px;
}

.item__button {
    background: rgb(219, 138, 138);
    font-size: 20px;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}