
.item {
display: flex;
justify-content: space-between;
}

.image {
    max-width: 100px;
    width: 100%;
}

.image img {
    width: 100%;
    display: block;
}

.title {
   align-self: center;
   font-style: 22px;
   font-weight: 500;
}

.price {
    font-style: 18px;
    font-weight: 700;
}

